<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chuanyue.plasma" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="16" />
    <preference name="DisallowOverscroll" value="true" />
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>山西单采浆站联网状态监控</name>
    <description>
        山西单采浆站联网状态监控
    </description>
    <author email="wxingheng@outlook.com" href="https://wxingheng.github.io">
        wuxh
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon/android/icon.png" />
    <splash src="res/icon/android/screen.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <platform name="android">
            <preference name="Fullscreen" value="true" />
            <allow-intent href="market:*" />
            <preference name="FadeSplashScreenDuration" value="800" />
            <preference name="ShowSplashScreenSpinner" value="false" />
        </platform>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="*" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
